<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Log</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<body>
<nav>
    <form th:method="GET" th:action="@{/librarians/{userId}/register
            (userId = ${user.getId()})}">
        <button>Register Book</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <form action="/home">
        <button>home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    List of Reading or Read Books
</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Authors</th>
        <th>Total Number</th>
        <th>Reading Number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booklog: ${booklogs}">
        <td th:text="${booklog.getId()}">ID</td>
        <td th:text="${booklog.getBook().getTitle()}">name</td>
        <td>
            <ul>
                <li th:each="author:${booklog.getBook().getAuthors()}" th:text="${author.getName()} + ' ' +${author.getSurname()}">Author Name</li>
            </ul>
        </td>
        <td th:text="${booklog.getTotalNumber()}"> totalnumber </td>
        <td th:text="${booklog.getReadingNumber()}"> readingnumber </td>
        <td>
            <form th:method="GET" class="btn btn-success" th:action="@{/booklogs/{id}/update (id = ${booklog.getId()})}">
                <button>Update</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>