<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReaderLog</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<body>
<nav>
    <form th:method="GET" th:action="@{/librarians/{userId}
            (userId = ${user.getId()})}">
        <button>To Main Page</button>
    </form>
    <form action="/home">
        <button>home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    List of Reading or Read Books
</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Book</th>
        <th>Authors</th>
        <th>DateOut</th>
        <th>DateIn</th>
        <th>Send Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="readerlog: ${readerlogs}">
        <td th:text="${readerlog.getId()}">ID</td>
        <td th:text="${readerlog.getUser().getName() + ' ' + readerlog.getUser().getSurname()}">name</td>
        <td th:text="${readerlog.getBook().getTitle()}">name</td>
        <td>
            <ul>
                <li th:each="author:${readerlog.getBook().getAuthors()}" th:text="${author.getName()} + ' ' +${author.getSurname()}">Author Name</li>
            </ul>
        </td>
        <td th:text="${readerlog.getDateOut()}"> dateout </td>
        <td th:text="${readerlog.getDateIn()}"> datein </td>
        <td>
            <form th:method="GET" class="btn btn-success" th:action="@{/home}">
                <button>Sand Mail</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>