<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<body>
<nav>
    <form th:method="GET" th:action="@{/librarians/{userId}
            (userId = ${user.getId()})}">
        <button>To Main Page</button>
    </form>
    <form action="/home">
        <button>home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    List of Books
</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Authors</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getId()}">ID</td>
        <td th:text="${book.getTitle()}">name</td>
        <td>
            <ul>
                <li th:each="author:${book.getAuthors()}" th:text="${author.getName()} + ' ' +${author.getSurname()}">Author Name</li>
            </ul>
        </td>
        <td>
            <form th:method="GET" class="btn btn-success" th:action="@{/librarians/{userId}/register/{bookId}
            (userId = ${user.getId()}, bookId = ${book.getId()})}">
                <button>Register</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>