<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav><a href="/login">LogIn</a> <a href="/logout">LogOut</a></nav>
<form action="/books">
    <button>All books</button>
</form>
<form action="/authors">
    <button>All authors</button>
</form>
<form action="/users">
    <button>All users</button>
</form>
<form action="/roles">
    <button>All roles</button>
</form>
</body>
</html>