<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<body>
<nav>
    <form action="/books">
        <button>All books</button>
    </form>
    <form action="/authors">
        <button>All authors</button>
    </form>
    <form action="/users">
        <button>All users</button>
    </form>
    <form action="/roles">
        <button>All roles</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <a th:href="@{/register}">Registration</a>
    <a th:href="@{/login}">LogIn</a>
    <a th:href="@{/logout}">LogOut</a>
</nav>
<h2>List of Books</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Authors</th>
        <th>View Info</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getId()}">ID</td>
        <td th:text="${book.getTitle()}">name</td>
        <td>
            <ul>
                <li th:each="author:${book.getAuthors()}" th:text="${author.getName()} + ' ' +${author.getSurname()}">
                    Author Name
                </li>
            </ul>
        </td>
        <td>
            <form th:method="GET" class="btn btn-success" th:action="@{/books/{id} (id = ${book.getId()})}">
                <button>Goto</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>