<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<h2>
    Hello <a th:value="${user.getName()}"> </a>
</h2>
<body>
<form>
    <table>
        <tr>
            <td><label for="name"> Name: </label></td>
            <td><input type="text" th:value="${user.getName()}" id="name" disabled/></td>
        </tr>
        <tr>
            <td><label for="surname"> Surname: </label></td>
            <td><input type="text" th:value="${user.getSurname()}" id="surname" disabled/>
            </td>
        </tr>
        <tr>
            <td><label for="email"> e-mail: </label></td>
            <td><input type="email" th:value="${user.getEmail()}" id="email" disabled/></td>
        </tr>
        <tr>
            <td><label for="login"> login: </label></td>
            <td><input type="text" th:value="${user.getLogin()}" id="login" disabled/></td>
        </tr>
        <tr>
            <td><label for="password"> password: </label></td>
            <td><input type="password" th:value="${user.getPassword()}" id="password" disabled/></td>
        </tr>
        <tr>
            <td><label for="birthday"> birthday: </label></td>
            <td><input type="date" th:value="${user.getBirthday()}" id="birthday" disabled/></td>
        </tr>
        <tr>
            <td><label for="role"> role: </label></td>
            <td><input type="text" th:value="${user.getRole()}" id="role" disabled/></td>
        </tr>

    </table>
</form>
<form th:object=${user} th:method="GET" th:action="@{/users/update/{id} (id = ${user.getId()})}">
    <button>Update</button>
</form>

<form action="/users">
    <button>All Users</button>
</form>
</body>
</html>