<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav>
    <form action="/books">
        <button>All books</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <form action="/home">
        <button>Home</button>
    </form>
    <a th:if="${not isAuthenticated}" th:href="@{/register}">Registration</a>
    <a th:if="${not isAuthenticated}" th:href="@{/login}">LogIn</a>
    <a th:if="${isAuthenticated}" th:href="@{/logout}">LogOut</a>
</nav>
<h2> View Book</h2>
<form>
    <table>
        <tr>
            <td><label for="title"> Title: </label></td>
            <td><input type="text" th:value="${book.getTitle()}" id="title" disabled/></td>
        </tr>
        <tr>
            <td><label for="authors"> Authors: </label></td>
            <td><input th:each="author:${book.getAuthors()}" type="text"
                       th:value="${author.getName()} + ' ' +${author.getSurname()}" id="authors" disabled/>
            </td>
        </tr>
        <tr>
            <td><label for="summary"> Summary: </label></td>
            <td><textarea id="summary" name="summary" rows="10" cols="50" style="font-size: 16px;" disabled>
                [[${book.getSummary()}]]
            </textarea></td>
        </tr>
        <tr>
            <td><label> Cover: </label></td>
            <td><img th:src="${book.getCover()}" alt="no images" class="cover-img"></td>
        </tr>
    </table>
</form>
<form th:if="${isPermitted}" th:object="${book}" th:method="GET" th:action="@{/books/update/{id} (id = ${book.getId()})}">
    <button>Update</button>
</form>
<form th:if="${isPermitted}" th:object="${book}" th:method="POST" th:action="@{/books/delete/{id} (id = ${book.getId()})}">
    <button class="del">Delete</button>
</form>
</body>
</html>