<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<body>
<nav>
    <form action="books/new">
        <button>New Book</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <form action="/home">
        <button>Home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    List of Books
</h2>
<table>
    <thead>
    <tr>
        <th>Book</th>
        <th>Authors</th>
        <th>Create</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.getTitle()}">name</td>
        <td>
            <ul>
                <li th:each="author:${book.getAuthors()}" th:text="${author.getName()} + ' ' +${author.getSurname()}">Author Name</li>
            </ul>
        </td>
        <td>
            <form th:method="POST" th:action="@{/books/create}" th:object="${book}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{authors}">
                <input type="hidden" th:field="*{summary}">
                <input type="hidden" th:field="*{cover}">
                <button type="submit">Create</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>