<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav>
    <form action="/books">
        <button>All books</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <form action="/home">
        <button>Home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>Update Book</h2>
<form th:method="POST" th:action="@{/books/update/{id} (id = ${book.getId()})}" th:object="${book}">
    <table>
        <tr>
            <td><label for="title"> Title: </label></td>
            <td><input type="text" th:field="*{title}" th:value="${book.getTitle()}" id="title"/></td>
        </tr>
        <tr>
            <td><label for="authors"> Authors: </label></td>
        </tr>
        <tr th:each="author:${book.getAuthors()}">
            <td ><input type="text" th:value="${author.getName()} + ' ' +${author.getSurname()}"
                        id="authors" disabled/>
            </td>
            <td><a class="delete-link" th:href="@{/books/update/{id}/delete/author/{authorId}
            (id = ${book.getId()}, authorId = ${book.getAuthors().indexOf(author)})}">Delete</a>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update"></td>
            <td><input type="reset" value="Clear"></td>
        </tr>
    </table>
</form>
<form th:method="POST" th:action="@{/books/update/{id}/add/author (id = ${book.getId()})}">
    <table>
        <tr>
            <td><label for="title"> Add Author: </label></td>
        </tr>
        <tr>
            <td><label for="name"> Name: </label></td>
            <td><input type="text" th:field="${author.name}" id="name"/></td>
        </tr>
        <tr>
            <td><label for="surname"> Surname: </label></td>
            <td><input type="text" th:field="${author.surname}" id="surname"/>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Add author"></td>
            <td><input type="reset" value="Clear"></td>
        </tr>
    </table>
</form>
</body>
</html>