<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav>
    <form action="/authors">
        <button>All authors</button>
    </form>
    <form action="/home">
        <button>home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    View Author
</h2>
<form>
    <table>
        <tr>
            <td><label for="name"> Name: </label></td>
            <td><input type="text" th:value="${author.getName()}" id="name" disabled/></td>
        </tr>
        <tr>
            <td><label for="surname"> Surname: </label></td>
            <td><input type="text" th:value="${author.getSurname()}" id="surname" disabled/>
            </td>
        </tr>
    </table>
</form>
<form th:object="${author}" th:method="GET" th:action="@{/authors/update/{id} (id = ${author.getId()})}">
    <button>Update</button>
</form>
<form th:object="${author}" th:method="POST" th:action="@{/authors/delete/{id} (id = ${author.getId()})}">
    <button class="del">Delete</button>
</form>
</body>
</html>