<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>new User</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<h2>
    Create User
</h2>
<body>
<form th:method="POST" th:action="@{/users/create}" th:object=${user}>
    <table>
        <tr>
            <td><label for="type"> Name: </label></td>
            <td><input type="text" th:field="*{name}" id="type"/></td>
        </tr>
        <tr>
            <td><label for="mode"> Surname: </label></td>
            <td><input type="text" th:field="*{surname}" id="mode"/>
            </td>
        </tr>
        <tr>
            <td><label for="mode"> e-mail: </label></td>
            <td><input type="email" th:field="*{email}" id="mode"/></td>
        </tr>
        <tr>
            <td><label for="mode"> login: </label></td>
            <td><input type="text" th:field="*{login}" id="mode"/></td>
        </tr>
        <tr>
            <td><label for="mode"> password: </label></td>
            <td><input type="password" th:field="*{password}" id="mode"/></td>
        </tr>
        <tr>
            <td><label for="mode"> birthday: </label></td>
            <td><input type="date" th:field="*{birthday}" id="mode"/></td>
        </tr>
            <td><label for="mode"> role: </label></td>
            <td>
                <select th:field="*{role}" id="options">
                    <option th:each="role: ${roles}"
                            th:value ="${role.getId()}"
                            th:text ="${role.getRoleName()}">                                >
                    </option>
                </select>
            </td>
        <tr>
            <td><input type="submit" value="Create"></td>
            <td><input type="reset" value="Clear"></td>
        </tr>
    </table>
</form>
<form action="/users">
    <button>All Users</button>
</form>
</body>
</html>