<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav>
    <form action="/roles">
        <button>All Roles</button>
    </form>
    <form th:action="${link}">
        <button>Main Page</button>
    </form>
    <form action="/home">
        <button>Home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    View Role
</h2>
<form>
    <table>
        <tr>
            <td><label for="name"> Name: </label></td>
            <td><input type="text" th:value="${role.getRoleName()}" id="name" disabled/></td>
        </tr>

    </table>
</form>
<form th:object="${role}" th:method="GET" th:action="@{/roles/update/{id} (id = ${role.getId()})}">
    <button>Update</button>
</form>
<form th:object="${role}" th:method="POST" th:action="@{/roles/delete/{id} (id = ${role.getId()})}">
    <button class="del">Delete</button>
</form>
</body>
</html>