<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roles</title>
    <link rel="stylesheet" href="/styles/liststyles.css">
</head>
<h2>
    List of Roles
</h2>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Role</th>
        <th>
            <form class="btn btn-success" action="/home">
                <button>home</button>
            </form>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role: ${roles}">
        <td th:text="${role.getId()}">ID</td>
        <td th:text="${role.getRoleName()}">name</td>
        <td>
            <form th:method="GET" class="btn btn-success" th:action="@{/roles/{id} (id = ${role.getId()})}">
                <button>Goto</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>