<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Role</title>
    <link rel="stylesheet" href="/styles/newstyles.css">
</head>
<body>
<nav>
    <form action="/roles">
        <button>All Roles</button>
    </form>
    <form action="/home">
        <button>Home</button>
    </form>
    <a href="/logout">LogOut</a>
</nav>
<h2>
    Create Role
</h2>
<form th:method="POST" th:action="@{/roles/create}" th:object="${role}">
    <table>
        <tr>
            <td><label for="type"> Name: </label></td>
            <td><input type="text" th:field="*{roleName}" id="type"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create"></td>
            <td><input type="reset" value="Clear"></td>
        </tr>
    </table>
</form>
</body>
</html>